body,
h1,
h3 {
    font-family: "Raleway", sans-serif
}

.w3-cell-row {
    margin-bottom: 10px;
}

.ts-content {
    display: none;
    padding: 20px;
    margin-bottom: 10px;
}

.ts-contentDisplayed{
    display: block;
}

#ts-sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.ts-side-closed{
    width: 0;
}

.ts-titlebar{
    position:fixed;
}

.fa {
    display: block;
    padding: 10%;
}