body,
h1,
h3 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
}

body {
    background-image: url('../images/grand-canyon.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

.bgimg {
    min-height: 100%;
}

.ts-toppadded {
    margin-top: 5%;
}

.ts-accordion {
    display: none;
}

div.divDone {
    overflow: auto;
    white-space: nowrap;
    display: none;
}

div.divDone a {
    display: inline;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.me {
    width: 30%;
    height: auto;
    display: block;
    margin-bottom: -50px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid white;
    box-shadow: 0px 5px 3px black;
}

.contentbox {
    padding: 20px;
    padding-top: 50px;
}

#personal {
    font-size: 150%;
}

#age {
    color: orangered
}

.hHeader {
    border-bottom: 1px black;
    border-bottom-style: dashed;
}

body::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.divHear {
    text-align: justify;
}

.divHear i {
    margin-top: 5px;
    display: inline-block;
    transition: 0.3s;
    padding: 3px;
}

.divHear i:hover {
    text-shadow: 0px 1px 2px grey;
}

.divHear:after {
    content: "";
    display: inline-block;
    width: 80%;
    height: 0;
}

.ts-createdSlides:hover {
    cursor:pointer
}